.container{
    width:100%;
    display: flex;
    flex-direction: column;
    font-family:cursive;
}

.title{
    background-color: rgb(37, 196, 135);
    color: white;
    width: 100%;
    font-weight: 700;
    font-size:20px;
    padding:5px;
    text-align: center;
    margin : 5px 5px 20px 5px; /* top right bottom left */
}

.card-holder{
    display: flex;
    flex-direction: row;
    padding : 10px;
    text-align: center;
    margin:auto;
}

